body {
  margin: 0;
}

.main-color {
  background-color: #fec700 !important;
}

.logo-img {
  max-height: 55px;
  object-fit: contain;
}

.MuiToolbar-root {
  justify-content: center;
}

.MuiTypography-h5 {
  font-family: "Bubbler One","Helvetica", "Arial", sans-serif !important;
  font-weight: 900 !important;
}

.makeStyles-menuButton-2 {
  margin-right: 0 !important;
}

.MuiToolbar-regular {
    min-height: 80px !important;
}

.search-input-styling .MuiAutocomplete-inputRoot {
  border-radius: 30px !important;
  background-color: #e9f7fc;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
              0px 2px 2px 0px rgba(0,0,0,0.14),
              0px 1px 5px 0px rgba(0,0,0,0.12);
}

@media (min-width: 600px){
  .MuiToolbar-regular {
      min-height: 100px !important;
  }
}
