body {
  margin: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
}

.main-color {
  background-color: #fec700 !important;
}

.logo-img {
  max-height: 55px;
  object-fit: contain;
}

.about-us-styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20%;
  background-color: #f3f3f3;
}

.MuiToolbar-root {
  justify-content: center;
}

.makeStyles-menuButton-2 {
  margin-right: 0 !important;
}

/* .MuiToolbar-regular {
    min-height: 80px !important;
} */

.search-input-styling .MuiAutocomplete-inputRoot {
  border-radius: 10px !important;
  background-color: #fffbfb;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
              0px 2px 2px 0px rgba(0,0,0,0.14),
              0px 1px 5px 0px rgba(0,0,0,0.12);
  font-size: large;
}

#root .card-title {
  font-size: 1.5rem;
}

#root .card-age-breed {
  font-size: .9rem;
}

#root .card-location {
  font-size: 1.1rem;
}

.card-img-height {
    height: 140px
  }

  /* @media (hover: hover) {

  } */

@media (min-width: 600px){
  /* .MuiToolbar-regular {
      min-height: 100px !important;
  } */

  .nav-toolbar {
    min-height: 85px !important;
  }

  /* logo top */
  .logo-img {
  max-height: 70px;
  object-fit: contain;
  }
  /* header menu button  */
  .makeStyles-menuButton-2 {
    height: 110px;
    width: 110px;
  }
  /* header menu icon */
  #menu-button-lg {
    width: 3.1em;
    height: 3.1em;
  }
  #menu-icon-button-lg {
    width: 2em;
    height: 2em;
  }
  /* body centering */
  .makeStyles-root-6 {
    margin: 0 auto;
    width: 60%;
  }
  /* homepage img text lg */
  .top-image-text-lg {
    font-size: larger;
  }
  /* homepage img style */
  .img-style-lg {
    max-height: 300px;
  }
}

@media (min-width: 960px){
  /* homepage img style */
  .img-style-lg {
    height: 40vh;
    min-height: 400px;
  }
  /* homepage img text left */
  .top-image-text-lg {
    text-align: revert !important;
  }
}

@media (min-width: 1280px){
  #content-wrap {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-img-height {
    height: 225px;
  }
  .search-form-margin-lg {
    margin-bottom: 50px;
  }
  .about-us-header-lg {
    font-size: xxx-large;
  }
  .about-us-p-lg {
    font-size: x-large;
  }
  /* homepage search button size */
  .search-button-size-lg {
    font-size: x-large;
  }
  /* homepage img style */
  .img-style-lg {
    width: 70vw;
  }
}

@media (min-width: 1920px){
  .card-img-height {
    height: 350px;
  }
}
